<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 配置 -->
	<context:component-scan base-package="com.springmvc.hander"></context:component-scan>
	<context:component-scan base-package="com.springmvc.view"></context:component-scan>
	<!-- 视图解析器 ：逻辑视图，物理视图 -->
	<!--  hello
	
		/hello.jsp
	
	 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 配置了自定义视图对应的解析器  org.springframework.web.servlet.view.BeanNameViewResolver -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="100"></property>
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="abc"></property>
	</bean>
	<mvc:view-controller path="/abcdefg" view-name="a"/>
	<mvc:view-controller path="/myView" view-name="myView"/>
	<!-- 如果给某一个视图配置了映射信息，其他的控制器方法映射全部无效 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 要跟上述匹配使用否则其他映射信息会失效  -->
</beans>
